body {
    padding: 0;
    margin: 0;
    background: #FFF;
}

.navbar{
    padding: 0;
    background-color: #2f3640;
}
.navbar-brand{
    margin-left: 1.5rem;
}
.nav-item{
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-dark .navbar-toggler {
    color: #fff ;
    padding: 3px 6px 4px;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 0;
    background-color: #222;
}
.navbar-dark .navbar-toggler:hover,
.navbar-dark .navbar-toggler:focus{
    color: #000 ;
    border: 1px solid #000;
    background-color: #fff;
}

.dropdown-menu{
    display: none;
    text-align: right;
    padding: 0;
    margin: 0 0 0 -30px;
    border: 0;
    border-radius: 0;
    background-color: #34495e;
}
.dropdown-item {
    padding: 10px;
    color: #fff;
    border-top: 1px solid #eeeeee4d;
}
.dropdown-item:last-child {
    border-bottom: 1px solid #eeeeee4d;
}
.dropdown-item:focus, 
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background: #50514f;
    background: -moz-linear-gradient(top, #50514f 5%, #0a0828 100%);
    background: -webkit-linear-gradient(top, #50514f 5%,#0a0828 100%);
    background: linear-gradient(to bottom, #50514f 5%,#0a0828 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50514f', endColorstr='#0a0828',GradientType=0 );
}

#logo-search{
    background: -webkit-gradient(linear,left top,right top,from(#232526),to(#414345));
    background: linear-gradient(90deg,#232526,#414345);
    position: relative;
    overflow: hidden;
}

#logo{
    /*height: 15rem;*/
}

#search .btn-danger{
    border-radius: 0;
}
#search .form-control {
    border: 1px solid #353b48;
}
#search .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #dc3545b3;
        border-left-color: rgba(220, 53, 69, 0.7);
    outline: 0;
    box-shadow: 0 0 2px 0px #dc3545;
}

#register-login-btn a{
    color: rgba(255,255,255,.5);
    text-decoration: none;
}
#register-login-btn a:hover,
#register-login-btn a:focus{
    color: rgba(255,255,255,.75);
}

.jumbotron {
    color: #f1f2f6;
    margin-bottom: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff; 
    background-image: url('../images/bg-jumbotron.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.jumbotron .display-1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 5px -3px 5px #f1c40f;
    color: #e67e22;
    margin-bottom: 2rem;
}
.jumbotron .display-4 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 6rem;
    margin-bottom: 1rem;
    text-shadow: -2px -3px 3px #fb0606;
    font-weight: bold;
}
.jumbotron .display-2 {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 6rem;
    margin-bottom: 1rem;
    text-shadow: -2px -3px 3px #48dbfb;
    font-weight: bold;
    margin-top: 1.5rem;
    text-align: left;
    margin-left: 11rem;
}
.jumbotron .display-3 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #c23616;
    margin-top: 5rem;
    text-shadow: 3px -1px 5px #fff;
}

#developer .display-4{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
}
#developer .lead{
    text-align: justify;
    font-weight: 400;
}

#developer .display-4{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    text-shadow: -3px -4px 6px #fff;
}
#developer .lead{
    text-align: justify;
    font-weight: 400;
}