
.container{
	width: 450px;
	position: relative;
	margin: 50px auto;
	background: #f55;
	overflow: hidden;
}
.item1{
	top: -20px;
	position: relative;
	background: #0f0;
	padding: 15px;
}
.item2{
	top: 0;
	left: 0;
	position: absolute;
	z-index: 10;
	padding: 15px;
	transition: all ease;
	transition-duration: 0.8s;
	transform: translate(0, -110%) rotateY(90deg);
	pointer-events: none;
}
.item1:hover + .item2{
	transform: translate(0, 0) rotateY(0deg);
	background: #eee;
}
